__pycache__/
.vscode
.ipynb_checkpoints
.DS_Store
.coverage
.idea
.cache

gmon.out
gprof.txt
amalgamated
web/lib

*.a
*.so
*.dll
*.exe
*.a
*.dylib

plugins/unity/
plugins/macos/pocketpy/pocketpy.*
main.exe
main.obj
pocketpy.exp
pocketpy.lib
APPS
build

main

pypi/
libpocketpy.dylib

.xmake/

obj/
objd/
out*.txt

pocketpy.dSYM
libpocketpy.dylib.dSYM/
main.dSYM/

docs/references.md

_generated.cpp
_generated.h
